<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Add Book</title>
</head>
<body>
<div class="container">
    <h1>Add book</h1>
    <form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Name:</label>
        <input type="text" class="form-control" name="name" maxlength="100"
                       required id="id_name" value="{{ book.name }}">
    </div>
    <div class="form-group">
        <label for="id_authors">Authors:</label>
        <select multiple class="form-control" id="id_authors">
            {% for author in authors %}
                <option>{{ author.name }}</option>
            {% endfor %}
        </select>
    </div>
        <p><input type="submit"></p>
    </form>
</div>
</body>
</html>
