<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>MySite</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
        <h1>Question</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th bgcolor="lightgray">{{ question.question_text }}</th>
                        {% if question.closed %}
                            <th><a href="{% url 'results' question.id %}">Ver resultado</a></th>
                        {% else %}
                            <th>Votação</th>
                        {% endif %}
                        <th><a href="{% url 'manage' question.id %}">|||</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% if choices %}
                        <form action="{% url 'vote' question.id %}" method="post">
                            {% csrf_token %}
                            {% for choice in choices %}
                                <tr>
                                    <th>{{ choice.choice_text }}</th>
                                    {% if not question.closed %}
                                        <th>
                                            <input type="radio" name="choice" id="choice{{ forloop.counter }}"
                                                   value="{{ choice.id }}" />
                                            <label for="choice{{ forloop.counter }}"></label><br />
                                        </th>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% if not question.closed %}
                                <th></th>
                                <th><input type="submit" value="Votar" /></th>
                                {% if mensagem %}
                                    <tr>
                                        <th><p style="color:red;"><strong>{{ mensagem }}</strong></p></th>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        </form>
                    {% else %}
                        <tr>
                            <th><p>No choices found.</p></th>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <p align="center"><a href="{% url 'index' %}">Home</a></p>
        </div>
    </body>
</html>
